<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - Oct 15</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/genomics-workshop/" target="_blank">Setup </a></td></tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/organization-genomics/" target="_blank">Project organization for genomics </a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/shell-genomics/" target="_blank">Shell for genomics</a></td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 - Oct 16</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://datacarpentry.org/wrangling-genomics/" target="_blank">Data wrangling and processing</a></td></tr>
      <tr> <td>Afternoon</td> <td><a href="https://datacarpentry.org/wrangling-genomics/" target="_blank">Data wrangling and processing continuation</a></td></tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/cloud-genomics/" target="_blank">Cloud Genomics</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>
