<div class="row">
  <div class="col-md-6">
    <div class="col-md-6">
    <h3 id="syllabus-python">Project Organization and Management for Genomics</h3>
    <ul>
      <li>Data Tidiness</li>
      <li>Planning for NGS Projects</li>
      <li>Examining Data on the NCBI SRA Database</li>
      <li><a href="https://datacarpentry.org/organization-genomics/">Materials</a></li>
    </ul>
    </div>
    <h3 id="syllabus-shell">The Unix Shell for Genomics</h3>
    <ul>
      <li>Introducing the shell</li>
      <li>Navegating files and directories</li>
      <li>Redirection</li>
      <li>Writing scripts</li>
      <li>Project organisation</li>
      <li><a href="https://datacarpentry.org/shell-genomics/">Materials</a></li>
    </ul>
  </div>
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-r">Programming in R</h3>
    <ul>
      <li>Working with vectors and data frames</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Using R from the command line</li>
      <li><a href="{{site.swc_pages}}/r-novice-inflammation/reference">Reference...</a></li>
    </ul>
  </div>
  -->
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-matlab">Programming in MATLAB</h3>
    <ul>
      <li>Working with arrays</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Defensive programming</li>
      <li><a href="{{site.swc_pages}}/matlab-novice-inflammation/reference">Reference...</a></li>
     </ul>
   </div>
   -->
</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Data Wrangling for Genomics</h3>
    <ul>
      <li>Assessing Read Quality</li>
      <li>Trimming and Filtering</li>
      <li>Variant Calling Workflow</li>
      <li>Ignoring files</li>
      <li>Automating a Variant Calling Workflow</li>
      <li><a href="https://datacarpentry.org/wrangling-genomics/">Materials</a></li>
    </ul>
  </div>
    <!--
  <div class="col-md-6">
    <h3 id="syllabus-sql">Managing Data with SQL</h3>
    <ul>
      <li>Reading and sorting data</li>
      <li>Filtering with <code>where</code></li>
      <li>Calculating new values on the fly</li>
      <li>Handling missing values</li>
      <li>Combining values using aggregation</li>
      <li>Combining information from multiple tables using <code>join</code></li>
      <li>Creating, modifying, and deleting data</li>
      <li>Programming with databases</li>
      <li><a href="{{site.swc_pages}}/sql-novice-survey/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-r">Open Refine</h3>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing data</li>
      <li>Basic functions</li>
      <li>Advanced Functions</li>
      <li><a href="{{site.lc_pages}}library-openrefine/reference">Reference...</a></li>
    </ul>
  </div>
  -->
</div>
